<!DOCTYPE HTML>
<HTML lang="en">

<head>
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/carousel.css">
  <script type="text/javascript" src="http://www.see-source.com/bootstrap/js/jquery.js"></script>
  <script type="text/javascript" src="http://www.see-source.com/bootstrap/js/bootstrap-carousel.js"></script>
  <style type="text/css">
    body{width:1000px; margin:auto; margin-top:400px;}
  </style>
</head>

<body>

<div id="MyCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#MyCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#MyCarousel" data-slide-to="1"></li>
    <li data-target="#MyCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img alt="first slide" src="/static/media/tianqu.jpg">
      <div class="container">
        <div class="carousel-caption">
          <h1>NO.1 headline</h1>
          <p>"nimei <code>find||grep</code> nimei"</p>
          <p>
            <a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a>
          </p>
        </div>
      </div>
    </div>
    <div class="item">
      <img alt="second slide" src="/static/media/psb.jpg">
      <div class="container">
        <div class="carousel-caption">
          <h1>NO.2 headline</h1>
          <p>"nimei <code>find||grep</code> nimei"</p>
          <p>
            <a class="btn btn-lg btn-primary" href="#" role="button">Sign up the day after</a>
          </p>
        </div>
      </div>
    </div>
    <div class="item">
      <img alt="third slide" src="/static/media/show.png">
      <div class="container">
        <div class="carousel-caption">
          <h1>NO.3 headline</h1>
          <p>"nimei <code>find||grep</code> nimei"</p>
          <p>
            <a class="btn btn-lg btn-primary" href="#" role="button">Sign up the day before</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#MyCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-checron-left"></span>
  </a>
  <a class="right carousel-control" href="#MyCarousel" data-slide="next">
    <span class="glyphicon glyphicon-checron-right"></span>
  </a>
</div>

</body>
