<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="the index page">
  <meta name="author" content="Hybrid">
  <link rel="shortcut icon" href="http://http://getbootstrap.com/docs-assets/ico/favicon.png">
  <title>A bootstrap style page</title>
  <link href="/static/css/bootstrap.css" rel="stylesheet">
  <link href="/static/css/justified-nav.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class"masthead">
      <h3 class="text-muted">PLForum</h3>
      <ul class="nav nav-justified">
        <li class="active">
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Forum</a>
        </li>
        <li>
          <a href="#">Photo</a>
        </li>
        <li>
          <a href="#">Music</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </div>
    <div class="jumbotron">
      <h1>PILI Lovers!<h1>
      <p class="lead">
          "If you have enough money, well, It's too easy to do with the things, such like:
          making love with LILI if you want or do any other things.So the next two month is quite
          important, learn hard as much you can.And everything will be ok.Good luck, boy."
      </p>
      <p>
          <a href="btn btn-lg btn-success" href="#" role="button">Work Hard Today</a>
      </p>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <h2>Pili</h2>
        <p>
            "If you like"
        </p>
            <a class="btn btn-primary" href="#" role="button">PILI Details</a>
        <p>
        </p>
      </div>
      <div class="col-lg-4">
        <h2>Photo</h2>
        <p>
            "If you like"
        </p>
            <a class="btn btn-primary" href="#" role="button">Photo Details</a>
        <p>
        </p>
      </div>
      <div class="col-lg-4">
        <h2>Music</h2>
        <p>
            "If you like"
        </p>
            <a class="btn btn-primary" href="#" role="button">Music Details</a>
        <p>
        </p>
      </div>
    </div>
    <div class="footer">
      <p>@ Hybrid 2013</p>
    </div>
  </div>
</body>
